﻿html, body {
    margin: 20px;
    display:flex;
    flex-direction:column;
}

header{
    padding: 30px;
}

content {
    
}

form {
    padding: 20px;
}

label {
    font-size: 12px;
}

input {
    padding: 10px 22px;
    margin-top: 10px;
    margin-bottom: 35px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
    font-size: 12px;
}

select {
    padding: 10px 22px;
    margin-top: 10px;
    margin-bottom: 35px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
    font-size: 12px;
    width: 100%;
}

input[type=text] {
    padding: 10px 22px;
    margin-top: 10px;
    margin-bottom: 35px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    width: -webkit-fill-available;
}

input[type=checkbox] {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    width: -webkit-fill-available;
}

input[type=button] {
    background: #0f52ba;
    padding: 10px 22px;
    margin-top: 10px;
    margin-bottom: 35px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    color: white;
    width:100%;
}

    input[type=button]:hover {
        background: #0080ff;
    }

#map {
    height: 300px;
    padding: 20px 0 20px 0;
    display: none;
}

footer {
    padding: 20px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1000px) {
    
}