﻿html, body {
    margin: 0;
    padding: 0;
}

header{
    padding: 30px;
}

content{
    display:flex;
    flex-direction:column;
    align-content:space-around;
    padding: 20px;
}

content blue{
    background-color: #0f52ba;
    color: #ffffff;

}

form{
    display:flex;
    flex-direction:column;
    align-content:space-around;
    padding: 20px;
}

label {
    font-size: 17px
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
    font-size: 16px
}

select {
    width: 100%;
    padding: 10px 22px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #7bdcf4;
}

input[type=button] {
    background: #0f52ba;
    box-shadow: inset 0 1px 0 0 #7bdcf4;
    border: 1px solid #0F799E;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 0 1px 0 #13506D;
    color:#fff;
}

    input[type=button]:hover {
        background: #0080ff;
    }

#map {
    height: 300px;
    padding: 20px 0 20px 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

@media screen and (max-width: 1025px) {
    
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    
}